{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home - Wisdom Pet Medicine</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <header>
      <a href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Wisdom Pet Medicine" />
      </a>
      <h1>
        <a href="{% url 'home' %}" title="Wisdom Pet Medicine">
          Wisdom Pet Medicine
        </a>
      </h1>
      <p>We treat your pets like we treat our own.</p>
      <img src="{% static 'images/header.jpg' %}" class="header-image" alt="Wisdom Pet Medicine" />
    </header>

    <main>
      <p>
        Wisdom Pet Medicine strives to blend the best in traditional and
        alternative medicine in the diagnosis and treatment of health
        conditions in companion animals, including dogs, cats, birds,
        reptiles, rodents, and fish. We apply the latest healthcare
        technology, along with the wisdom garnered in the centuries old
        tradition of veterinary medicine, to find the safest and most
        effective treatments and cures, while maintaining a caring
        relationship with our patients and their guardians.
      </p>

      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      <p>
        Wisdom Pet Medicine is a fictitious brand created by Lynda.com, solely
        for the purpose of training. All products and people associated with
        Wisdom Pet Medicine are also fictitious. Any resemblance to real
        brands, products, or people is purely coincidental. Please see your
        veterinarian for all matters related to your pet's health.
      </p>
    </footer>

    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
