body {
	margin: 0;
	padding: 20px;
	font-family: "Helvetica Neue", sans-serif;
	background: hsl(45, 55%, 80%);
	color: hsl(18, 30%, 20%);
}

a {
	color: hsl(18, 82%, 48%);
	text-decoration: none;
}

img {
	max-width: 100%;
}

header {
	margin: 0 0 1.5em 0;
	padding: 1.5em;
	text-align: center;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
}

header h1 {
	margin: 0;
}

header a {
	color: hsl(45, 55%, 56%);
}

header p {
	margin: 0 0 1em 0;
}

.logo {
	margin: 0 0 1em 0;
	height: 150px;
}

.header-image {
	display: block;
	mix-blend-mode: multiply;
}

.pets {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}

.petname {
	padding: 15px;
	background: hsla(0, 0%, 100%, 0.75);
	border-radius: 8px;
}

.petname h3 {
	margin: 0;
}
